body {
  background-color: #F2F3F4;
}

button span {
  pointer-events: none;
}

.title-wrapper {
  text-align: center;
}

.form-wrapper {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

.todo-input {
  width: 80%;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  font-size: x-large;
  margin-bottom: 2em;
  background-color: #F2F3F4;
}

.todo-input:focus {
  outline: none;
  border-bottom: 2px solid orange;
}

.input-btn {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  border: none;
  margin: 0;
  box-shadow: none;
  color: #F2F3F4;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: xx-large;
  background-size: 400% 400%;
  animation: ButtonBg 10s ease infinite;
  width: 3em;
}

.input-btn:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 

ul {
  list-style-type: inside;
  margin-left: 0;
  padding-left: 0;
  width: 85%;
}

.todos-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: large;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  margin-top: 1em;
}

.list-item-completed {
  text-decoration: line-through;
  transform: scale(0.98); 
}

.todo-item-title {
  width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.todo-item-checkbox {
  width: 30px;
  height: 30px;
  background-color: #F2F3F4;
  border-radius: 5px;
  border: 2px solid #555;
}

.todo-item-delete, .clear-btn {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  border: 1px solid #e90a0a;
  color: #e90a0a;
  background-color: #F2F3F4;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
}

.todo-item-delete:active, .clear-btn:active, .todo-item-delete:hover, .clear-btn:hover { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  color: #F2F3F4;
  background: #e90a0a;
} 

.footer-bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.filter-option-all,
.filter-option-active,
.filter-option-completed,
.total-count,
.clear-btn {
  display: inline-block;
}

.filter-option-all,
.filter-option-active,
.filter-option-completed {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  border: 1px solid #945cbc;
  color: #945cbc;
  background-color: #F2F3F4;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
  margin: 1px;
}

.filter-option-selected {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  border: none;
  color: #F2F3F4;
  background: #945cbc;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
}

.filter-option-all:active,
.filter-option-active:active,
.filter-option-completed:active,
.filter-option-all:hover,
.filter-option-active:hover,
.filter-option-completed:hover  {
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  color: #F2F3F4;
  background: #945cbc;
}

.footer-bar-left-wrapper,
.footer-bar-right-wrapper {
  display: inline-block;
}
